/*
|--------------------------------------------------------------------------
| Helpers
|--------------------------------------------------------------------------
*/
%vertical-align {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}